<footer class="footer footer-center text-base-content p-4 text-center border-t-[3px] border-greyish" style="background-color: #13151a;">
    <aside>
      <p>Personal Project inspired on Liquid Death brand, designed and built by <a href="https://bento.me/omont-dev" target="_blank" class="link-primary text-white hover:text-gold focus:text-gray-300 focus:outline-none focus:ring-2 focus:ring-white focus:underline border-b-[2px] border-greyish" aria-label="Visit Oriol Mont Creus's Bento.me">Oriol Mont Creus</a></p>
    </aside>
  </footer>